{% extends 'baseFr.html.twig' %}
{% block content %}
    <div class="col-xl-8 col-lg-7">
        <div class="blog-post-wrapper">
            {% for article in articles %}
                <div class="latest__post-item">
                    <div class="latest__post-thumb tgImage__hover">
                        <a href="{{ path("blog_article_fr",{ 'WebTitleFR': article.WebTitleFR }) }}"><img src="{{ article.image }}" alt="img"></a>
                    </div>
                    <div class="latest__post-content">
                        <ul class="tgbanner__content-meta list-wrap">
                            <!--       <li class="category"><a href="blog.html">technology</a></li>
                                   <li><span class="by">By</span> <a href="blog.html">alonso d.</a></li> -->
                            <li>{{ article.createdAt|date("M d, Y") }}</li>
                        </ul>
                        <h3 class="title tgcommon__hover"><a href="{{ path("blog_article_fr",{ 'WebTitleFR': article.WebTitleFR }) }}">{{ article.TitleFR }}</a></h3>
                        <p>{{ article.ContentFR|striptags('<p>')|u.truncate(500)|raw}} ...</p>


                        <div class="latest__post-read-more">
                            <a href="{{ path("blog_article_fr",{ 'WebTitleFR': article.WebTitleFR }) }}">Voir Plus<i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}





            {# Pagination Controls #}
                <div class="pagination__wrap">
                    <ul class="list-wrap">
                        {# Bouton "Previous" #}
                        {% if pagination.has_previous_page %}
                            <li><a href="{{ path('blog_indexfr2', { 'page': pagination.previous_page }) }}"><i class="fas fa-angle-double-left"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                        {% endif %}

                        {# Pages avec points de suspension si nécessaire #}
                        {% for page in 1..pagination.total_pages %}
                            {% if page == pagination.current_page %}
                                <li class="active"><a href="#">{{ page|number_format(0) }}</a></li>
                            {% elseif page <= 2 or page > pagination.total_pages - 2 or (page >= pagination.current_page - 1 and page <= pagination.current_page + 1) %}
                                <li><a href="{{ path('blog_indexfr2', { 'page': page }) }}">{{ page|number_format(0) }}</a></li>
                            {% elseif page == 3 or page == pagination.total_pages - 2 %}
                                <li><a href="#">...</a></li>
                            {% endif %}
                        {% endfor %}

                        {# Bouton "Next" #}
                        {% if pagination.has_next_page %}
                            <li><a href="{{ path('blog_indexfr2', { 'page': pagination.next_page }) }}"><i class="fas fa-angle-double-right"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}