<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DropTheFun - EDM News With Fun Touch</title>
    <meta name="description" content="DropTheFun - EDM News With Fun Touchc">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    {% include 'css.twig' %}
</head>

<body>

<!-- preloader -->
<div id="preloader">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
        </div>
    </div>
</div>
<!-- preloader-end -->

<!-- Scroll-top -->
<button class="scroll__top scroll-to-target" data-target="#html">
    <i class="fas fa-angle-up"></i>
</button>
<!-- Scroll-top-end-->

<!-- header-area -->
<header>
    <div class="header__top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-6 order-2 order-lg-0">
                    <div class="header__top-search">
                        <!-- Recherche -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 order-0 order-lg-2 d-none d-md-block">
                    <div class="header__top-logo logo text-lg-center">
                        <!-- Logo -->
                        <!--
                        <a href="{{ path('blog_index') }}" class="logo-dark"><img src="{{ asset('assets/img/logo/logo.png') }}" alt="Logo"></a>
                        <a href="{{ path('blog_index') }}" class="logo-light"><img src="{{ asset('assets/img/logo/w_logo.png') }}" alt="Logo"></a>
                        -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6 order-3 d-sm-block">
                    <div class="header__top-right">
                        <ul class="list-wrap">
                            <!-- Langue -->
                            <li class="lang">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        FR
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        {% set route = app.request.attributes.get('_route') %}

                                        {% if route == 'blog_article_fr' and article is defined %}
                                            <li><a class="dropdown-item" href="{{ path('blog_article', { 'WebTitleEN': article.WebTitleEN }) }}">ENG</a></li>
                                        {% elseif route == 'blog_index_fr' %}
                                            <li><a class="dropdown-item" href="{{ path('blog_index') }}">ENG</a></li>
                                        {% elseif route == 'blog_index_tag_fr' and tag is defined %}
                                            <li><a class="dropdown-item" href="{{ path('blog_index_tag', { 'tag': tag }) }}">ENG</a></li>
                                        {% elseif route == 'blog_article_by_category_fr' and category is defined %}
                                            <li><a class="dropdown-item" href="{{ path('blog_article_by_category', { 'category': category.slugEn }) }}">ENG</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header-fixed-height"></div>
    <div id="sticky-header" class="tg-header__area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tgmenu__wrap">
                        <nav class="tgmenu__nav">
                            <div class="logo d-block d-md-none">
                                <!-- Logo mobile -->
                                <!--
                                <a href="{{ path('blog_index') }}" class="logo-dark"><img src="{{ asset('assets/img/logo/logo.png') }}" alt="Logo"></a>
                                <a href="{{ path('blog_index') }}" class="logo-light"><img src="{{ asset('assets/img/logo/w_logo.png') }}" alt="Logo"></a>
                                -->
                            </div>
                            <div class="offcanvas-toggle">
                                <!-- Menu Toggle -->
                                <!-- <a href="#"><i class="flaticon-menu-bar"></i></a> -->
                            </div>
                            {% include 'menuFr.twig' %}
                            <div class="tgmenu__action">
                                <ul class="list-wrap">
                                    <li class="mode-switcher">
                                        <nav class="switcher__tab">
                                            <span class="switcher__btn light-mode"><i class="flaticon-sun"></i></span>
                                            <span class="switcher__mode"></span>
                                            <span class="switcher__btn dark-mode"><i class="flaticon-moon"></i></span>
                                        </nav>
                                    </li>
                                    <!--
                                    <li class="user"><a href="#"><i class="far fa-user"></i></a></li>
                                    <li class="header-cart"><a href="#"><i class="far fa-shopping-basket"></i></a></li>
                                    -->
                                </ul>
                            </div>
                        </nav>
                        <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    </div>
                    <!-- Mobile Menu  -->
                    <div class="tgmobile__menu">
                        <nav class="tgmobile__menu-box">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <div class="nav-logo">
                                <!-- Logo mobile menu -->
                                <!--
                                <a href="{{ path('blog_index') }}" class="logo-dark"><img src="{{ asset('assets/img/logo/logo.png') }}" alt="Logo"></a>
                                <a href="{{ path('blog_index') }}" class="logo-light"><img src="{{ asset('assets/img/logo/w_logo.png') }}" alt="Logo"></a>
                                -->
                            </div>
                            <div class="tgmobile__search">
                                <!-- Recherche mobile -->
                                <!--
                                <form action="#">
                                    <input type="text" placeholder="Search here...">
                                    <button><i class="far fa-search"></i></button>
                                </form>
                                -->
                            </div>
                            <div class="tgmobile__menu-outer">
                                <!-- Le menu viendra automatiquement via JavaScript / Même menu que dans le header -->
                            </div>
                            <!--
                            <div class="social-links">
                                <ul class="list-wrap">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            -->
                        </nav>
                    </div>
                    <div class="tgmobile__menu-backdrop"></div>
                    <!-- End Mobile Menu -->
                </div>
            </div>
        </div>
    </div>

    <!-- offCanvas-area -->
    <!--
    <div class="offCanvas__wrap">
        ...
    </div>
    <div class="offCanvas__overlay"></div>
    -->
    <!-- offCanvas-area-end -->

</header>
<!-- header-area-end -->


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if app.request.attributes.get('_route') == 'blog_article_fr' and article is defined %}
                        <div class="breadcrumb-content">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item" aria-current="page">
                                        <a href="{{ path('blog_article_by_category_fr', { 'category': article.Categorisation.slugFr }) }}">
                                            {{ article.Categorisation.nameFr }}
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ article.titleFr }}</li>
                                </ol>
                            </nav>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- blog-details-area -->
    <section class="blog-details-area pt-80 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-1">
                    <!-- Sociales (si nécessaire) -->
                </div>
                {% block content %}{% endblock %}
                <!--
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <aside class="blog-sidebar">
                        ...
                    </aside>
                </div>
                -->
            </div>
        </div>
    </section>
    <!-- blog-details-area-end -->

</main>
<!-- main-area-end -->


<!-- footer-area -->
<footer class="footer-area black-bg">
    <div class="container">
        <!-- Contenu du footer (actuellement commenté) -->
        <!--
        <div class="footer__top-wrap">
            ...
        </div>
        <div class="footer__logo-wrap">
            ...
        </div>
        <div class="footer__copyright">
            ...
        </div>
        -->
    </div>
</footer>
<!-- footer-area-end -->

<!-- JS here -->
{% include 'js.twig' %}
</body>

</html>
