<div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-lg-flex">
    <ul class="navigation">
        <li><a href="{{ path("blog_index") }}">Home</a></li>
        <li><a href="{{ path("blog_article_by_category",{ 'category': 'News'}) }}">News</a></li>
        <li class="menu-item-has-children"><a>Music</a>
            <ul class="sub-menu">
            <!--    <li><a href="{# {{ path("blog_article_by_category",{ 'category': ''}) }}#}">Album Reviews</a></li> -->
                <li><a href=" {{ path("blog_article_by_category",{ 'category': 'Track Reviews'}) }}">Track Reviews</a></li>
        <!--        <li><a href="{# {{ path("blog_article_by_category",{ 'category': ''}) }}#}">Playlists</a></li> -->
                <!--        <li><a href="{# {{ path("blog_article_by_category",{ 'category': ''}) }}#}">Mixes & Sets</a></li>-->
            </ul>
        </li>
        <!--         <li><a href="{# {{ path("blog_article_by_category",{ 'category': ''}) }}#}">Interviews</a></li>-->
        <li><a href="{{ path("blog_article_by_category",{ 'category': 'Events & Festivals'}) }}">Events & Festivals</a></li>
        <li><a href="{{ path("blog_article_by_category",{ 'category': 'Events & Festivals'}) }}">Equipment & Production</a></li>
{#       <li><a href="{{ path("blog_article_by_category",{ 'category': 'Culture & History'}) }}">Culture & History</a></li> #}
    </ul>
</div>